html {
    box-sizing: border-box;
    background-color: lightblue;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.h1box {
    background-color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.recipelinkbox ul{
    list-style: none;
    background-color: blanchedalmond;
    place-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}